@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
  font-family: 'Open Sans';
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color:rgba(20,20,20, .6 );

}
.page {
  width:100vw;
  display:grid;
  padding:40px;
  grid-template-columns: minmax(200px, 800px);
  justify-content:center;
  align-items:center;
  gap:40px;
}

section{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 30px;
}
.api{
  padding:40px;
  background-color:#eee;
  box-shadow: 1px 1px 8px 12px rgba(100, 100, 100, .6);
}
.api .desc {
  margin-bottom:24px;
  color:gray;
}

.api span{
  background-color:gray;
  color:white;
  padding:4px 8px 4px 8px;
  margin-right:4px;
  border-radius:4px;
}
.api a {
  display:block;
  margin-top:24px;
  text-decoration:none;
  color:darkslategray;
}
h1{
  font-size:2.5em;
  word-wrap:break-word;
}

input, button, select{
  margin-bottom:8px;
  line-height:4rem;
  font-size:2rem;
  border:none;
  text-decoration:none;
  width:100%;
  padding-left:12px;
  border-radius:12px;
}


button {
  display:block;
  background-color:darkslategray;
  color:white;
}
