@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
  font-family: 'Open Sans';
  color:#222;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color:#eee;
}
.page {
  width:100vw;
  display:grid;
  padding:10vh;
  grid-template-columns: minmax(200px, 800px);
  justify-content:center;
  align-items:center;
  gap:40px;
}

section{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 30px;
}

.api{
  padding:40px;
  background-color:#f2f2f2;
  box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, .3);
  transition:.3s ease;
}

.api a {
  text-decoration:none;
}

.api:hover{
  box-shadow: 0px 0px 6px 6px rgba(200, 200, 200, .3);
  background-color:#fff;
  cursor: pointer;
}
.api .desc {
  margin-bottom:24px;
  text-decoration:none;
}

.api span{
  background-color:gray;
  color:white;
  padding:4px 8px 4px 8px;
  margin-right:4px;
  border-radius:4px;
  text-decoration:none;
}

h1{
  font-size:1.4em;
  font-weight:300;
  padding-bottom:1rem;
  color:#118DF0;
  word-wrap:break-word;
  text-decoration:none;
}

input, button, select{
  margin-bottom:8px;
  line-height:2rem;
  font-size:1rem;
  border: 1px solid #c6c6c6;
  background-color:#f2f2f2;;
  text-decoration:none;
  width:100%;
  padding-left:12px;
}

button {
  margin-top:24px;
  width:180px;
  transition:.3s ease;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  border-radius:4px;
}

button:hover{
  background-color:#f8f8f8;
  cursor: pointer;
  border:1px solid gray;
}
